/*-- scss:defaults --*/

// font size
$presentation-h1-font-size: 1.5em;

#TOC {
  font-size: 100% !important;
}


// fonts 
$font-family-sans-serif: Arial, Helvetica, sans-serif; // Arial as in PHSZ template


/*-- scss:rules --*/

// Move logo to bottom left
.reveal .slide-logo {
	left: 12px !important;
	max-height: 1.5rem !important;	
}

// Move slide numbers to bottom right
.reveal .slide-number {
    top: unset !important;
    bottom: 8px !important;	
    right: 8px !important;	
}

// Move menu to top right
.reveal .slide-menu-button {
	left: unset !important;
	bottom: unset !important;
	top: 8px !important;
    right: 8px !important;
}

// Move chalkboard to top right
.reveal .slide-chalkboard-buttons {
	left: unset !important;
	bottom: unset !important;
	top: 8px !important;
	right: 40px !important;
	font-size: 38px !important;
}

// highlightbox
.redbox {
  background-color: #ffffff  !important;
  border: 1px solid black !important; 
  opacity: 0.6;
  text-align: center !important;
  margin-top: 6 !important;
  margin-bottom: 0 !important;

}

// highlightext
.redtext p {
  color: #000000 !important;
  opacity: 1.0 !important;
  font-weight: bold !important;
  margin-top: 5px !important;
}

// video
.video-js {
    background-color: unset; 
}
